<div class="cards" id="header">
    <a href="/"><div class="headerButtons"><p>WEATHER</p></div></a>
    <a href="/page1"><div class="headerButtons"><p>IMAGE GALLERY</p></div></a>
    <a href="/page2"><div class="headerButtons"><p>PAGE2</p></div></a>
</div>