<!DOCTYPE html>
<html>
    <head>
        <title>{{title}}</title>
        <link rel="stylesheet" type="text/css" href="./general.css">
        <link rel="stylesheet" type="text/css" href="./pages.css">

    </head>
    <body>
        {{> home}}
        {{!-- <div id="cards" class="header">
            <div class="headerButtons"><p>MAIN</p></div>
            <div class="headerButtons"><p>PAGE1</p></div>
            <div class="headerButtons"><p>PAGE2</p></div>
        </div> --}}
        <div id="middle_page">
        <div id="forum_display">
            <form action="/" method="GET">
                <span class="infotext">Enter city</span>
                <input type="text" id="input1" name="image" placeholder="type in city">
                <input type="text" id="input1" name="lat" placeholder="enter latituted">
                <input type="text" id="input1" name="long" placeholder="enter longitute">
                <button type="submit">Submit</button>
            </form>
            <h1>{{text_weather}}</h1>
            <h1>{{hard_code_weather}}</h1>
        </div>
    </body>

</html>