<!DOCTYPE html>
<html>
    <head>
        <title>{{title}}</title>
        <link rel="stylesheet" type="text/css" href="./styles/general.css">

    </head>
    <body>
        <div id="top_links" class="links_bar">
            <div class="button_link"><p>MAIN</p></div>
            <div class="button_link"><p>PAGE1</p></div>
            <div class="button_link"><p>PAGE2</p></div>
        </div>
        <div></div>
    </body>

</html>