<!DOCTYPE html>
<html>
    <head>
        <title>{{title}}</title>
        <link rel="stylesheet" type="text/css" href="./general.css">
        <link rel="stylesheet" type="text/css" href="./pages.css">


    </head>
    <body>
        {{> home}}
        <div id="middle_page">
            <p>PAGE1</p>
        </div>

    </body>

</html>