<!DOCTYPE html>
<html>
    <head>
        <title>{{title}}</title>
        <link rel="stylesheet" type="text/css" href="./general.css">
        <link rel="stylesheet" type="text/css" href="./pages.css">


    </head>
    <body>
        {{> home}}

        <div id="middle_page">
            <div id="forum_display">
            <form action="/" method="GET">
                <span class="infotext">Some Infotext</span>
                <input type="text" id="input1" name="weather" placeholder="first field">
                <button type="submit">Submit</button>
            </form>
        </div>
        <div></div>{{image_here}}</div>
    </body>

</html>